

<!-- 文章页 -->







<%- include header2_1 %>


<% posts.forEach(function(post, index) { %>

    <div class="ui stackable grid container segment">
        <div class="two column row">
            <div class="left floated column">
                <h2 class="ui green  header">
                    <i class="settings icon"></i>
                    <div class="content">
                        <%= post.title %>
                        <div class="sub header">
                            <%= post.time.minute%>
                        </div>
                    </div>
                </h2>
            </div>

            <div class="right aligned right floated column">
                <div class="ui labeled button" tabindex="0">
                    <div id="m<% index %>" class="ui vertical green animated button">
                        <div class="visible content">Look</div>
                        <div class="hidden content">
                            <i class="large long right arrow icon"></i>
                        </div>
                    </div>
                    <a class="ui basic green left pointing label">
                        999+
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="ui  m<% index %> modal">
        <i class="close icon"></i>
        <div class="header">
            Profile Picture
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img src="img/scaleImg.jpg">
            </div>
            <div class="description">
                <div class="ui header">
                    <%= post.title %>
                </div>
                <p><%= post.post %></p>
            </div>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button">
                Close
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

<% }) %>
<script>
    $('.ui.modal').each(function (index, element) {
            var s = "m" + index;
        $('.ui.s.modal')
                .modal('setting', 'transition', 'Fade Up')
                .modal({blurring: true})
                .modal('attach events', '#' + s, 'show');
    })
</script>

<!--  尾部  用在article2 上 -->


</div>
<!--------------------------------------------------------------------------->

<script src="../public/lib/jquery/jquery.min.js"></script>

<script src="../public/css/semantic/dist/semantic.min.js"></script>

<script>

    //toggle() 方法切换元素的可见状态。
    //如果被选元素可见，则隐藏这些元素，如果被选元素隐藏，则显示这些元素。
    //toggleClass() 对设置或移除被选元素的一个或多个类进行切换。
    //该方法检查每个元素中指定的类。如果不存在则添加类，如果已设置则删除之。这就是所谓的切换效果。
    $(function() {
        $("#btnToggle").click(function() {
            // 顶部右侧按钮样式切换 三条横线和叉
            $(this).toggleClass("btn-close");

            // body页面的样式切换 overflow:hidden 和 overflow:scroll, background切换;
            $("#bodyToggle").toggleClass("no-scroll");

            // 页面中的导航栏 显示与隐藏
            $("#nav").toggleClass("hide");

            // 同样也是页面导航,有点迷糊
            $("#navToggle").toggleClass("nav-fade-in");

            // 正文在导航也页面时是隐藏的
            $("#contentToggle").toggleClass("hide");

            // 动态背景的暂停切换
            $("#bgToggle").toggleClass("bg-paused");
        });
    });
</script>

</body>
</html>