



<!-- 编辑文章 -->


<%- include backend_header %>

    <!--<form method="post" action="/edit/<%= post.title %>">
        标题：
        <br />
        <input type="text" name="title" value="<%= post.title %>" disabled="disabled" />
        <br />
        正文：
        <br />
        <textarea name="post" rows="20" cols="100">
            <%= post.post %>
        </textarea>
        <br />
        <input type="submit" value="保存修改" />
    </form>-->

    <div class="cancelEdit">
        <button class="ui icon button">
            <a href="/backend"><i class="icon close"></i></a>
        </button>
    </div>

    <form method="post">

        <div class="ui labeled input">
            <div class="ui label">
                标题:
            </div>
            <input type="text" name="title" value="<%= post.title %>" disabled>
        </div>

        <div class="postcontent">
            <textarea name="post"  cols="100" rows="20" placeholder="请输入文章,支持Markdown格式">
                <%= post.post %>
            </textarea>
        </div>

        <div class="submitbtn">
            <input type="submit" value="更新">
        </div>


    </form>


<%- include backend_footer %>
