<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Blog</title>
    <link rel="stylesheet" href="../public/css/backend.css">
</head>
<body>

<header>
  <h1><%= title %></h1>
</header>

<nav>
  <span><a title="主页" href="/">home</a></span>
  <span><a title="存档" href="/archive">archive</a></span>
  <span><a title="标签" href="/tags">tags</a></span>
  <span><a title="友情链接" href="/links">links</a></span>
  <% if (user) { %>
  <span><a title="上传" href="/upload">upload</a></span>
  <span><a title="发表" href="/post">post</a></span>
  <span><a title="登出" href="/logout">logout</a></span>
  <% } else { %>
  <span><a title="登录" href="/login">login</a></span>
  <span><a title="注册" href="/reg">register</a></span>
  <% } %>
  <span><form action="/search" method="GET"><input type="text" name="keyword" placeholder="SEARCH" class="search" /></form></span>
</nav>

<article>

  <% if (success) { %>
  <div><%= success %></div>
  <% } %>
  <% if (error) { %>
  <div><%= error %> </div>
<% } %>

    <hr />
    <p>
        <% posts.forEach(function(post, index) { %>
    <p><h2><a href="/articleSearch/<%= post.title %>"><%= post.title %></a></h2></p>
    <p class="info">
        作者：<a href="#"><%= post.name %></a> |
        日期：<%= post.time.minute %>
    </p>
    <p><%- post.post.substr(0,10) %></p>
    <br />
    <h4>这是第<%= index + 1 %>篇</h4>
    <hr />
    <!-- <a href="/html/login-1.html"><span>查看全文</span></a>
    <a href="/blog"><span>查看全文</span></a> -->
    <% }) %>


    <%- include backend_paging %>
    <%- include backend-footer %>