
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BackEnd</title>
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">

    <!-- SEO -->
    <meta name="keywords" content="DearSW">
    <meta name="author" content="DearSW">
    <meta name="description" content="DearSW">

    <!--IE兼容模式，优先使用最新版的IE和Chrome内核-->
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1" />

    <!--强制优先使用360webkit内核-->
    <meta name="renderer" content="webkit" />

    <!--为移动端设备优化，设置看见区域的宽度和初始缩放比例-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- icon图标 -->
    <link rel="short icon" type="image/icon" href="../public/imgs/icon/logo1.png">

    <!-- 引入markdown样式 需要做一些小修改,实现融入当前的css集合中 -->
    <link id="markdownStyle" rel="stylesheet" href="../public/css/markdown-css-themes/mode-four.css">

    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/normalizeForDearSW.css">

    <!-- semantic UI 引入 -->
    <link rel="stylesheet" href="../public/css/semantic/dist/semantic.min.css">

    <!-- 后台样式引入 -->
    <link rel="stylesheet" href="../public/css/backend.css">




</head>
<body>


    <!------------------------- left ------------------------->
    <div class="m-leftmenu">

        <div class="logo">
            <i class="icon pied piper alternate big"></i>
        </div>

        <nav>

            <div class="ui vertical menu">

                <a title="主页" href="/" class="item">
                    主页
                    <i class="icon home"></i>
                </a>

                <a title="概览" href="/backend" class="item">
                    概览
                    <i class="icon server"></i>
                </a>

                <!--<a title="存档" href="/archive" class="item">
                    Archive
                    <i class="icon suitcase"></i>
                </a>

                <a title="标签" href="/tags" class="item">
                    Tags
                    <i class="icon tags"></i>
                </a>

                <a title="友情链接" href="/links" class="item">
                    Links
                    <i class="icon external share"></i>
                </a>-->

                <% if (user) { %>
                <a title="上传" href="/upload" class="item">
                    Upload
                    <i class="icon upload"></i>
                </a>

                <a title="发表" href="/post" class="item">
                    Post
                    <i class="icon laptop"></i>
                </a>

                <a title="登出" href="/logout" class="item">
                    注销
                    <i class="icon sign out"></i>
                </a>

                <% } else { %>
                <a title="注册" href="/reg" class="item">
                    Register
                    <i class="icon add user"></i>
                </a>

                <a title="登录" href="/login" class="item">
                    Login
                    <i class="icon sign in"></i>
                </a>
                <% } %>

            </div>
        </nav>

        <div class="articlesearch">
            <form action="/search" method="GET">
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" name="keyword" placeholder="Article search...">
                        <i class="icon search"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </form>
        </div>

    </div>


    <!------------- right top ------------------>
    <div class="m-righttop">


        <div class="title">
            <div class="ui red tag label">
                <%= title %>
            </div>
        </div>

        <div class="dropbtn">
            <select id="themes">
                <option value="mode-four.css" selected>mode-four</option>
                <option value="mode-one.css">mode-one</option>
                <option value="mode-two.css">mode-two</option>
                <option value="mode-three.css">mode-three</option>
            </select>
        </div>

        <div class="message">
            <% if (success) { %>
            <div><%= success %></div>
            <% } %>
            <% if (error) { %>
            <div><%= error %> </div>
            <% } %>
        </div>

        <div class="tx">
            <% if(user) { %>
            <img class="ui avatar image" src="http://odfgqiz57.bkt.clouddn.com/images/avadar.png" alt="已登录">
            <% } else { %>
            <img class="ui avatar image" src="../public/imgs/avatar_noLogin.jpg" alt="未登录">
            <% } %>
        </div>

    </div>



    <!-------------- right center index ------------------>

    <div class="m-rightcenter">

        <article>

            <div class="ui special raised stackable doubling cards">

                <% posts.forEach(function(post, index) { %>
                <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">

                                        <!-- 此处可以添加转移到 backend_article 的路由处理 -->
                                        <!--<a href="/articleSearch/">查看</a>-->
                                        <!-- 接收数据 -->
                                        <div style="display: none"><%= post.title %></div>
                                        <strong>查看</strong>
                                        <!-- 接收数据 -->
                                        <div style="display: none"><%- post.post %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="../public/imgs/404.png">
                    </div>
                    <div class="content">
                        <span class="header"><%= post.title %></span>

                        <div class="meta">
                            <span class="date"><%= post.time.minute %></span>
                        </div>

                        <% if(user) { %>

                        <div class="ui labeled button" tabindex="0">
                            <div class="ui red button">
                                <i class="heart icon"></i> Like
                            </div>
                            <a href="/edit/<%= post.title %>" class="ui basic red left pointing label">
                                修改
                            </a>
                            <a class="ui basic red left pointing label">
                                删除
                            </a>
                        </div>

                        <% } %>
                    </div>
                    <div class="extra content">
                        <div>
                            <i class="icon green skyatlas"></i>
                            <%- post.post.substr(0,15) %>....
                        </div>
                    </div>


                </div>

                <% }) %>

            </div>


            <!-- 写好之后再封装到 backend_footer 之中-->


            <%- include backend_paging %>

        </article>

    </div>
    <!-- right center end -->


    <!--  引入 jquery3.0 -->
    <script src="../public/lib/jquery/jquery.min.js"></script>
    <!-- semantic UI 引入 -->
    <script src="../public/css/semantic/dist/semantic.min.js"></script>
    <script>

        $(function () {

            // 文章遮罩
            $('.special.cards .image').dimmer({
                on: 'hover'
            });


            // 对页面中的所有的 文章查看按钮 进行事件委托处理
            // 使用JQ方法
            $('.m-rightcenter').on('click', 'strong', function () {

                // 获取数据
                var title = $(this).prev().html();
                var content = $(this).next().html();

                // modal template
                var template ='<div class="ui modal">'+
                        '            <div class="header">'+
                                         title +
                        '            </div>'+
                        '            <div class="image content">'+
                        '                <div class="ui medium image">'+
                        '                    <img src="../public/imgs/Mac.png" alt="" class="ui medium image">'+
                        '                </div>'+
                        '                <div class="description">'+
                        '                    <a class="ui tag  label">CSS3</a>'+
                        '                    <a class="ui red  tag label">HTML5</a>'+
                        '                    <a class="ui teal  tag label">JavaScript</a>'+
                        '                    <br />'+
                        '                    <br />'+
                        '                    <a class="ui green  tag label">NodeJS</a>'+
                        '                    <a class="ui purple  tag label">Express</a>'+
                        '                </div>'+
                        '            </div>'+
                        '            <div class="content">'+
                                         content +
                        '            </div>'+
                        '            <div class="actions">'+
                        '                <div class="ui approve button">Close</div>'+
                        '            </div>'+
                        '        </div>';


                // 由于 modal 加在body最后, 所以要先进行清理,防止重复叠加
                // 取得 body 中的子元素,不是后代元素
                var el = document.body.children;
                var l = document.body.children.length;
                // 去除 body 中的最后一个元素
                document.body.removeChild(el[l-1]);

                $(document.body).append(template);
                // 触发 弹窗
                $('.ui.modal').modal('show');


            })

        })


        var markdownStyle = function () {
            var a = document.getElementById('markdownStyle');
            var b = document.getElementById('themes');

            function change() {
                a.href = '../public/css/markdown-css-themes/' + b.value;
            }

            return {
                watch: function () {
                    b.onchange = function () {
                        change();
                    }
                }
            };
        }();

        markdownStyle.watch();



    </script>

</body>
</html>