<%- include header2.1 %>

<div class="pure-u-1">
    <div class="article inner">
        <% posts.forEach(function(post, index) { %>
        <section>
            <!--title-->
            <div class="title">
                <div class="intro-inner">
                    <a href="/articleSearch/<%= post.title %>" title="查看全文">
                        <h1><%= post.title %></h1>
                    </a>
                    <small><%= post.time.minute%></small> |
                    <small>第<%= index + 1 %>篇</small>
                </div>
            </div>

            <!--content-->
            <div class="text">
                <div class="text-inner">
                    <p><%= post.post.substr(0,10) %></p>
                </div>
            </div>
            <hr />

        </section>
        <% }) %>
    </div>
</div>

<%- include paging2 %>
<%- include footer2 %>